
<section class="channel-h5">
	<div class="channel-h5__header">
		男生最爱
	</div>
	<div>
		<div>
			<ul class="list-h5">
				<a href="/book">
					<li v-for="item in male" v-if="$index>=0 && $index<2">
						<div class="book-h5">
							<div class="book-h5__cover">
								<img alt="{{item.title}}" v-bind:src="item.cover">
								<p class="book-h5__finish">完结</p>
							</div>
							<div class="book-h5__info">
								<p class="book-h5__title">{{item.title}}</p>
								<p class="book-h5__author">{{item.authors}}</p>
								<p class="book-h5__summary">{{item.summary}}</p>
								<div class="book-h5__wrap">
									<div class="book-h5__tag" v-for="tag in item.tags">{{tag}}</div>
								</div>
							</div>
						</div>
					</li>
				</a>
			</ul>
		</div>
		<div class="channel__footer_next">
			<a href="javascript:">换一换</a>
			<a href="/channel/male">男生频道</a>
		</div>
	</div>
</section>