
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<title>书籍详情</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<!-- <link rel="stylesheet" type="text/css" href="/static/css/all.css"> -->
	<style type="text/css">
		.main{
			border-bottom: 1px solid #f5f5f5;
			background-color: #fff;
			overflow: hidden;
			padding: 10px 0px 8px 20px;
		}
		.cover{
			width: 90px;
			height: 90px;
			float: left;
			margin-right: 10px;
		}
		.cnt-ul{
			padding: 5px 0;
		}
		.cnt-ul li{
			font-size: 14px;
			height: 26px;
			line-height: 26px;
			color: #333;
		}
		.cnt-ul span{
			margin-left: 10px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	</style>
</head>
<body>
	<div id="app" style="width: {{screen_width}}px;overflow: hidden;">
		<% include include/common-header.html %>
		<div class="container-scroll" style="width: {{screen_width}}px">
			<div class="rank-page">
				<section class="main" v-for="section in items" v-if="$index >8">
						<img class="cover" v-bind:src="section.cover" alt="{{section.name}}">
						<ul class="cnt-ul">
							<li v-for="book in section.description">
							  {{$index + 1}}<span>{{book}}</span>
							</li>
						</ul>
				</section>
			</div>
		</div>
	</div>
	<script src="/static/script/zepto.js"></script>
    <script src="/static/script/vue.js"></script>
	<script type="text/javascript" src="/static/script/pages/rank.js"></script>
</body>

</html>